.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-left: 25vw;
  background: linear-gradient(
      to right,
      rgba(102, 102, 102, 0.7),
      rgba(102, 102, 102, 0.7)
    ),
    url("../../assets/img/cemalovic-milos-portfolio-img-2.jpg");
  background-size: cover;
  background-position: left;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

.content {
  max-width: 1200px;
  width: 100%;
}

.greeting {
  font-size: 6rem;
  margin-bottom: 1rem;
  color: white;

  @media (max-width: 992px) {
    font-size: 4rem;
  }

  @media (max-width: 576px) {
    font-size: 3rem;
  }
}

.subtitle {
  font-size: 3rem;
  color: white;
  font-weight: 300;

  @media (max-width: 992px) {
    font-size: 2rem;
  }

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}
