.footer {
  background-color: #5e5a5a;
  padding: 4rem 0 4rem 25vw; // Account for the sidebar
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 2rem;

  @media (max-width: 768px) {
    padding: 3rem 2rem;
  }

  @media (max-width: 425px) {
    gap: 1rem;
    padding: 2rem;
  }
}

.footerLink {
  text-decoration: none;
  transition: transform 0.2s ease;

  &:hover {
    transform: translateY(-5px);
  }

  .span {
    color: #f9f9f9;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    text-align: center;

    @media (max-width: 768px) {
      font-size: 2.2rem;
    }

    @media (max-width: 425px) {
      font-size: 1.4rem;
    }

    @media (max-width: 325px) {
      font-size: 1.3rem;
    }

    @media (max-width: 310px) {
      font-size: 1.2rem;
    }

    @media (max-width: 270px) {
      font-size: 1rem;
    }
  }

  .spanContact {
    color: #fe4335;
    text-transform: uppercase;
  }
}

.footerText {
  color: #f9f9f9;
  font-size: 1.5rem;

  @media (max-width: 425px) {
    font-size: 1.2rem;
  }

  @media (max-width: 320px) {
    font-size: 0.9rem;
  }
}

.social {
  display: none; // Hidden by default

  @media (max-width: 768px) {
    display: flex; // Visible on small screens
    gap: 1.5rem;
    justify-content: center;
  }

  .socialIcon {
    font-size: 2.4rem;
    color: #e8e5e5;

    @media (max-width: 425px) {
      font-size: 1.5rem;
    }
  }
}
